@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MVC</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form action="Home/DoLogin">
    <div>
        <div>
            <label for="txtUser">User Name:</label>
            <input type="text"  name="txtUser" required placeholder="Enter UserID" />
        </div>
        <div>
            <label for="txtpwd">Password:</label>
            <input type="password" name ="txtpwd" required placeholder="Enter Password" />
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </div>
</form>

<div>
    <a href="Home/SayHello?name=Sanjay">SayHello</a>

</div>
<div>
    <a href="Home/Add?x=100&y=30">Add</a>
</div>
<div>
    <a href="Home/Multiply?x=100&y=30">Multiply</a>
</div>
<div>
    <a href="Home/Divide?x=100&y=30">Divide</a>
</div>
<div>
    <a href="Home/AddNewBook"> New Book</a>
</div>
<div>
    <a href="Home/ListAllBook">All Books</a>
</div>
@* <div>
    <a href="AuthorController1/CreateAuthor">Enter author</a>
</div>*@
 

<div>
    <a href="Author">Author Landing Page</a>
</div>
@* <div>
    <a href="Author/AuthorList">Authorlist</a>"
</div>
<div>
    <a href="AuthorController/Index">Author Index Page</a>
</div>
<div>
    <a href="AuthorController/Create">Save new get author</a>
</div> *@
<div>
    <a href ="Emp/Index">Sql entry</a>
</div>
<div>
    <a href="Movie/Create">Movies entry</a>
</div>
