
@{
    ViewData["Title"] = "Menu";
}
<div class="text-center"><h1 class="display-4">Welcome</h1></div>
<div class="jumbotron">
    <div>INR: &#8377</div>
    <a asp-action="Echo" asp-rout-name="Venkat" asp-route-name="Venkat" 
    asp-route-city="Chennai">Call echo</a>
    <a asp-action="SayHello" asp-route-name="Venkat">Call SayHello</a>
</div>

