
@{
    ViewData["Title"] = "_BooksList";
}

<h1>_BooksList</h1>

<hr />
<h1>From Book List</h1>
<ul>
    <li>Wasted In Engineering</li>
    <li>It Happen for aReason</li>
    <li>The leader in you</li>
    <li>The one Minute Manager</li>
</ul>